
 *{
  
  width: 100%;
  height: 100%;
  margin: 0%;
}


#p1{
  
  width: 100%;
  height: 100%;
  background-color: gainsboro;
  
}

.box1{
  
  width: 20%;
  height: 13%;
  border-radius: 50%;
  background: white;
  position: absolute;
box-shadow: 5px 5px 10px 1px black;
  margin-left: 8%;
  margin-top: 5%;
}

 .box1:hover{
  
   background: gold;
   margin-left: 400%;
   transition: 0.5s linear;
  
  
  
}

 

.box2{
  
  width: 20%;
  height: 13%;
  border-radius: 50%;
  background: white;
box-shadow: 5px 5px 10px 1px black;
  position: absolute;
  margin-left: 40%;
  margin-top: 5%;
}

 .box2:hover{
  
   background: gold;
   margin-left: 400%;
   transition: 0.5s linear;
  
  
  
}



.box3{
  
  width: 20%;
  height: 13%;
  border-radius: 50%;
  background: white;
  position: absolute;
box-shadow: 5px 5px 10px 1px black;
  margin-left: 70%;
  margin-top: 5%;
}

 .box3:hover{
  
   background: gold;
   margin-left: 400%;
   transition: 0.5s linear;
  
  
  
}


.box4 {
 
   width: 20%;
   height: 13%;
   border-radius: 50%;
   background: white;
box-shadow: 5px 5px 10px 1px black;
   position: absolute;
   margin-left: 8%;
   margin-top: 30%;
 }
 
 .box4:hover{
  
   background: gold;
   margin-left: 400%;
   transition: 0.5s linear;
  
  
  
}

 
 .box5 {
 
   width: 20%;
   height: 13%;
   border-radius: 50%;
   background: white;
   position: absolute;
box-shadow: 5px 5px 10px 1px black;
   margin-left: 40%;
   margin-top: 30%;
 }
 
 .box5:hover{
  
   background: gold;
   margin-left: 400%;
   transition: 0.5s linear;
  
  
  
}

 
.box6 {
 
   width: 20%;
   height: 13%;
   border-radius: 50%;
   background: white;
box-shadow: 5px 5px 10px 1px black;
   position: absolute;
   margin-left: 70%;
   margin-top: 30%;
 }
 
 .box6:hover{
  
   background: gold;
   margin-left: 400%;
   transition: 0.5s linear;
  
  
  
}


.box7 {
 
   width: 20%;
   height: 13%;
   border-radius: 50%;
   background: white;
   position: absolute;
box-shadow: 5px 5px 10px 1px black;
   margin-left: 70%;
   margin-top: 55%;
 }
 
 .box7:hover{
  
   background: gold;
   margin-left: 400%;
   transition: 0.5s linear;
  
  
  
}


.box8 {
 
   width: 20%;
   height: 13%;
   border-radius: 50%;
   background: white;
   position: absolute;
box-shadow: 5px 5px 10px 1px black;
   margin-left: 70%;
   margin-top: 80%;
 }
 
 .box8:hover{
  
   background: gold;
   margin-left: 400%;
   transition: 0.5s linear;
  
  
  
}


.box9 {
 
   width: 20%;
   height: 13%;
   border-radius: 50%;
   background: white;
   position: absolute;
   margin-left: 70%;
box-shadow: 5px 5px 10px 1px black;
   margin-top: 105%;
 }
 
 .box9:hover{
  
   background: gold;
   margin-left: 400%;
   transition: 0.5s linear;
  
  
  
}


.box10 {
 
   width: 20%;
   height: 13%;
   border-radius: 50%;
   background: white;
   position: absolute;
box-shadow: 5px 5px 10px 1px black;
   margin-left: 8%;
   margin-top: 55%;
 }
 
 .box10:hover{
  
   background: gold;
   margin-left: 400%;
   transition: 0.5s linear;
  
  
  
}


.box11 {
 
   width: 20%;
   height: 13%;
   border-radius: 50%;
box-shadow: 5px 5px 10px 1px black;
   background: white;
   position: absolute;
   margin-left: 70%;
   margin-top: 30%;
 }
 
 .box11:hover{
  
   background: gold;
   margin-left: 400%;
   transition: 0.5s linear;
  
  
  
}


.box12 {
 
   width: 20%;
   height: 13%;
   border-radius: 50%;
box-shadow: 5px 5px 10px 1px black;
   background: white;
   position: absolute;
   margin-left: 8%;
   margin-top: 80%;
 }
 
 .box12:hover{
  
   background: gold;
   margin-left: 400%;
   transition: 0.5s linear;
  
  
  
}

 
.box13 {
 
   width: 20%;
   height: 13%;
   border-radius: 50%;
   background: white;
   position: absolute;
box-shadow: 5px 5px 10px 1px black;
   margin-left: 8%;
   margin-top: 105%;
 }
 
 .box13:hover{
  
   background: gold;
   margin-left: 400%;
   transition: 0.5s linear;
  
  
  
}


 
.box14 {
 
   width: 20%;
   height: 13%;
   border-radius: 50%;
   background: white;
   position: absolute;
box-shadow: 5px 5px 10px 1px black;
   margin-left: 40%;
   margin-top: 55%;
 }
 
 .box14:hover{
  
   background: gold;
   margin-left: 400%;
   transition: 0.5s linear;
  
  
  
}

 
.box15 {
 
   width: 20%;
   height: 13%;
   border-radius: 50%;
   background: white;
box-shadow: 5px 5px 10px 1px black;
   position: absolute;
   margin-left: 40%;
   margin-top: 80%;
 }
  .box15:hover{
  
   background: gold;
   margin-left: 400%;
   transition: 0.5s linear;
  
  
  
}


.box16 {
 
   width: 20%;
   height: 13%;
   border-radius: 50%;
   background: white;
   position: absolute;
   box-shadow: 5px 5px 10px 1px black;
   margin-left: 40%;
   margin-top: 105%;
 }

 .box16:hover{
  
   background: gold;
   margin-left: 400%;
   transition: 0.5s linear;
  
  
  
}


 


.botombar{
  
  width: 100%;
  height: 10%;
  background: lightslategray;
  position: fixed;
  top: 90%;
 
 
}

.botombar a{
  
margin-left: 40%;
font-size: 20px;
text-decoration: none;
color: white;
position: absolute;
font-weight: bolder;
top: 20%;
}



.botombar img{
  
  width: 15%;
  height: 90%;
margin-left: 1%;
font-size: 20px;
text-decoration: none;
color: black;
background: lightslategray;
padding: 2%;
border-radius: 50%;
position: absolute;
box-shadow: 2px 2px 2px 0px white;
font-weight: bolder;
margin-top: -8%;
}

.botombar img:hover{
  
  width: 15%;
  height: 90%;
  margin-left: 0%;
  padding: 5%;
  background: white;
  transition: 0.5s linear;
  
}




